.cardGlass {
    width: 300px;
    height: 200px;
    position: relative;
    transform: translate(-50%, 50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.4),
        0 -2px 4px rgb(255, 255, 255, 0.2);
    z-index: 1;
}

.cardGlass::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0.5),
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.5));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}