.modal-project {
    background-color: #090909;
    color: #FAFAFA;
    font-family: 'Neue Montreal';
    letter-spacing: 0.5px;
    border: 1px solid #272727;
}

.btn-close-custom {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    transition: 0.25s;
}

.btn-close-custom i {
    font-size: 0.9rem;
    display: flex;
    color: #ffffff;
}

.btn-close-custom:hover {
    background-color: #ffffff10;
}

.modal-title {
    font-size: 2rem;
}

.modal-header,
.modal-footer {
    border-bottom-color: rgba(250, 250, 250, 0.2);
    border-top-color: rgba(250, 250, 250, 0.2) ;
}