.container-home h1 {
    font-family: 'Neue Montreal';
    color: white;
    font-size: 60px;
    font-weight: 500;
}

.container-home p {
    font-family: 'Neue Montreal';
    color: white;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.container-home {
    position: relative;
    z-index: 2;
    padding-left: 3rem;
    padding-top: 6.6rem;
}


#index-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container-buttons button {
    border: none;
    background-color: transparent;
    color: white;
}

.container-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.container-desc {
    color: white;
    font-family: 'Neue Montreal';
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 3rem;
    width: 235px;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    font-size: 1rem;
}

@media (max-width: 767.98px) {
    .container-home h1 {
        position: relative;
        font-size: 40px;
        left: -3px;
    }

    .container-desc {
        font-size: 0.8rem;
        padding-left: 2.5rem;
        width: 160px;
    }

    .container-home p {
        font-size: 14px;
    }

    .container-home {
        padding-left: 2.5rem;
        padding-top: 6rem;
    }

    .container-buttons {
        display: grid;
    }
}