.cardBlack {
    width: 350px;
    position: relative;
    transform: translate(-50%, 50%);
    padding: 20px;
    top: 50%;
    left: 50%;
    background-color: #171717;
    border: 2px solid #222222;
    border-radius: 8px;
    z-index: 1;
    color: #FAFAFA;
}

.cardBlack img{
    width: 300px;
    position: relative;
    left: 50%;
    border-radius: 21px;
    transform: translateX(-50%);
}