.cards-container{
    display: flex;
    gap: 15px;
}

.card-project {
    position: relative;
    background-color: #151515;
    border: #272727;
    border-radius: 12px;
    width: 350px;
    padding: 12px;
}

.img-project{
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.container-visual {
    position: relative;
}

.img-projectLogo {
    width: max-content;
    position: absolute;
    padding: 5px;
    border-radius: 6px;
    bottom: 0;
}

.img-projectLogo img {
    width: 40px;
    height: 40px;
}