.cards-container {
    display: flex;
    gap: 15px;
}

.card-project {
    position: relative;
    background-color: #151515;
    border: #272727;
    border-radius: 12px;
    width: 350px;
    padding: 12px;
}

.img-project {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.container-visual {
    position: relative;
}

.img-projectLogo {
    width: max-content;
    position: absolute;
    padding: 8px;
    border-radius: 6px;
    bottom: -2px;
    left: -2px;
}

.title-card {
    font-family: 'Neue Montreal';
    font-size: 1.3rem;
    margin-top: 1rem;
}

.img-projectLogo img {
    width: 35px;
    height: 35px;
}

.btn-card {
    border: none;
    background-color: #FAFAFA;
    padding: 7px 20px;
    font-family: 'Neue Montreal Normal', sans-serif;
    font-size: 0.85rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-card:hover {
 filter: drop-shadow(0 0 5px #FAFAFA);
}

