.card-project {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background-color: #171717;
    border: 1.5px solid #222222;
    color: #FAFAFA;
    font-family: 'Neue Montreal', sans-serif;
    letter-spacing: 1.2px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.card-title a {
    font-size: 1.2rem;
    color: #FAFAFA;
    text-decoration: none;
    margin: 0;
}

.card-title {
    cursor: pointer;
    transition: all 0.2s ease;
}

.card-title i {
    position: absolute;
    right: 20px;
    color: #FAFAFA;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-title:hover a {
    color: #980bf7e8;
    text-decoration: underline;
}

.card-title:hover i {
    transform: rotate(45deg);
    color: #980bf7e8;
}

.card-content p {
    color: #FAFAFA;
    margin: 0;
    font-size: 0.9rem;
}

.card-ano h2 {
    font-size: 0.85rem;
    font-weight: 600;
    opacity: 0.8;
    margin: 0;
}

.tag-item {
    padding: 4px 16px;
    border-radius: 10px;
    color: #FAFAFA;
    font-size: 0.75rem;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.4),
        0 -2px 4px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.tag-item::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0.5),
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.5));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.card-a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #FAFAFA;
    background-color: #222222;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background 0.2s ease;
}

.card-a:hover {
    background-color: #333333;
    color: #fff;
}