:root {
    --mg-inline: 2.5rem;
    --mg-block: 2.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
}

body {
    background-color: #252525;
}

@font-face {
    font-family: Neue Montreal;
    src: url(/font/NeueMontreal-Light.otf) format("opentype");
}

@font-face {
    font-family: Neue Montreal Regular;
    src: url(/font/NeueMontreal-Regular.otf) format("opentype");
}

 ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
}

*:hover::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
}