#project-page {
    position: relative;
    color: #FAFAFA;
    padding-bottom: 10vh;
    max-width: 1200px;
    margin: 0 auto;
}

.project-title {
    font-family: 'Neue Montreal';
    margin-top: 2rem;
}

.project-title h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.project-title p {
    letter-spacing: 0.6px;
}

@media (max-width: 767.98px) {
    .project-title h1 {
        font-size: 1.9rem;
    }

    .project-title {
        margin-left: 1rem;
        margin-top: 3rem;
    }

    .project-title p {
        font-size: 0.85rem;
    }

}