#project-page {
    position: relative;
    color: #FAFAFA;
    padding-bottom: 10vh;
    max-width: 1200px;
    margin: 0 auto;
}

.project-title {
    font-family: 'Neue Montreal';
    margin-top: 2rem;
}

.project-title h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.project-title p {
    letter-spacing: 0.6px;
}

.scroll-indicator {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2.5s infinite;
    margin-bottom: 2rem;
    z-index: 2;
}

.mouse {
    width: 20px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.wheel {
    width: 3px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
}

/* Caixa da tooltip */
.custom-tooltip .tooltip-inner {
    background-color: rgba(15, 15, 15, 0.95);
    color: #FAFAFA;

    font-family: 'Neue Montreal';
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    margin-bottom: 0.85rem;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    opacity: 0.95;
}

.custom-tooltip .tooltip-inner {
    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.3);
}

.tooltip-arrow {
    margin-bottom: 0.85rem;
}

.custom-tooltip .tooltip-arrow::before {
    margin-bottom: 0.85rem;
    border-top-color: rgba(15, 15, 15, 0.95) !important;
}

/* animação tipo animate-bounce */
@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -10px);
    }
}

@media (max-width: 767.98px) {
    .project-title h1 {
        font-size: 1.9rem;
    }

    .project-title {
        margin-left: 1rem;
        margin-top: 3rem;
    }

    .project-title p {
        font-size: 0.85rem;
    }

    .mouse {
        width: 16px;
        height: 28px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 14px;
        padding-top: 5px;
    }

    .wheel {
        width: 2px;
        height: 5px;
        border-radius: 2px;
    }


    .scroll-indicator i {
        font-size: 0.8rem;
        line-height: 1;
        margin-top: 2px;
        display: block;
    }

    .scroll-indicator {
        gap: 4px;
    }

}