#project-page {
    position: relative;
    color: #FAFAFA;
    padding-bottom: 10vh;
    max-width: 1200px;
    margin: 0 auto;
}

.project-title {
    font-family: 'Neue Montreal';
    margin-top: 2rem;
}

.project-title h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.project-title p {
    letter-spacing: 0.6px;
}

.scroll-indicator {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    margin-bottom: 2.5rem;
}

.mouse {
    width: 20px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.wheel {
    width: 3px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
}


/* animação tipo animate-bounce */
@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, -10px);
    }
}

@media (max-width: 767.98px) {
    .project-title h1 {
        font-size: 1.9rem;
    }

    .project-title {
        margin-left: 1rem;
        margin-top: 3rem;
    }

    .project-title p {
        font-size: 0.85rem;
    }

}