/* ===============================
   MENU PAGE
================================ */
#menu-page {
  position: fixed;
  inset: 0;
  color: #000;
  background-color: #FAFAFA;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

/* ===============================
   CONTAINER
================================ */
.menu-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  position: relative;
}

#particles-menu {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

/* ===============================
   LINKS BASE
================================ */
.menu-container a {
  position: relative;
  width: 300px;
  text-decoration: none;
  color: #000;
  font-size: 70px;
  font-family: 'Neue Montreal';
  overflow: hidden;
}

/* ===============================
   LINHA ANIMADA (TODOS OS LINKS)
================================ */
.menu-container a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 1.5px;
  background-color: #000;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu-container a:hover::after {
  transform: scaleX(1);
}

/* ===============================
   CONTATO – ÍCONE ANIMADO
================================ */
.contato-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contato-link i {
  position: absolute;
  right: 0;
  bottom: -30px;
  opacity: 0;
  transform: translateY(10px);
  font-size: 2.5rem;
  margin-right: 1rem;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  transition-delay: 0.05s;
}

.contato-link:hover i {
  opacity: 1;
  transform: translateY(-43px);
}

@media (max-width: 767.98px) {
  .menu-container a {
    font-size: 50px;
  }

  .menu-container a::after {
    width: 80%;
  }

  .contato-link i{
    font-size: 1.5rem;
    right: 25%;
  }

  .contato-link:hover i {
     transform: translateY(-43px);
  }
}