.background-border {
    position: absolute;
    inset: 0;
    z-index: 0;
    border: 15px solid #151515;
    box-shadow: inset 0 0 0 1px #FAFAFA;
    pointer-events: none;
}

.mask{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.30);
    pointer-events: none;
}